@inherits ElsaMina.Core.Services.Templates.LocalizableTemplatePage<ElsaMina.Commands.Games.Tarot.TarotViewModel>

<div style="background:#2d2535;color:white;padding:10px;border-radius:6px;opacity:0.75">
    <h3 style="margin:0;text-align:center">🃏 @GetString("tarot_title") 🃏</h3>
    <p style="text-align:center;margin:6px 0"><b>@GetString("tarot_lobby_cancelled")</b></p>
</div>
